name: Docker Publish

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

env:
  IMAGE_NAME: "buyfakett/jenkins"
  JENKINS_VERSION: "2.530"
  GOLANG_VERSION: "1.25.1"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2           

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
            images: ${{ env.IMAGE_NAME }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build  And Push image
        run: |
          cd build
          chmod 755 *.sh
          ./auto_build.sh ${{ env.JENKINS_VERSION }} ${{ env.GOLANG_VERSION }}
          docker push ${{ env.IMAGE_NAME }}:${{ env.JENKINS_VERSION }}
